<configuration>
  <!-- デフォルト設定読み込み -->
  <include
    resource="org/springframework/boot/logging/logback/base.xml" />

  <!-- 出力ルール ～コンソール～ -->
  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n
      </pattern>
    </encoder>
  </appender>

  <!--出力ルール ～ログファイル～ -->
  <appender name="LOG_FILE"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 出力先ファイルパス -->
    <file>/Users/kajinoyoshiharu/Documents/workspace/BenjaminChecklistApp/logback.log
    </file>

    <!-- ログのローテーション設定 -->
    <rollingPolicy
      class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <!-- 世代管理されるファイルの命名パターン -->
      <fileNamePattern>/Users/kajinoyoshiharu/Documents/workspace/BenjaminChecklistApp/logback.log.%i
      </fileNamePattern>    <!-- %iはインデックス。minIndexからMaxIndexまでの連番 -->
      <minIndex>1</minIndex>
      <maxIndex>7</maxIndex>      <!-- 最大7ファイルまで世代管理 -->
    </rollingPolicy>

    <!-- ローテーションのトリガ。10MBに達した時点でローテーション。 -->
    <triggeringPolicy
      class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>

    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n
      </pattern>
    </encoder>
  </appender>

  <!-- rootロガー。ログはSTOUTとログファイルに出力する -->
  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="LOG_FILE" />
  </root>

</configuration>